<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whatsapp">

    <permission
        android:name="ui.ui.activities.PrivateChatActivity.PRIVATE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- for image cropping -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="activities.PrivateChatActivity.PRIVATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".BaseApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ui.ui.activities.GroupInfoActivity" >
<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity
            android:name="ui.ui.activities.GroupCreationActivity"
            android:parentActivityName="ui.ui.activities.AddGroupActivity" />
        <activity
            android:name="ui.ui.activities.AddGroupActivity"
            android:parentActivityName="ui.ui.activities.MainActivity" />
        <activity android:name="ui.ui.activities.StatusViewerActivity" />
        <activity
            android:name="ui.ui.activities.StatusActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="ui.ui.activities.GroupsChatActivity"
            android:parentActivityName="ui.ui.activities.MainActivity" />
        <activity android:name=".Demo">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity android:name="ui.ui.activities.VoiceCallActivity" />
        <activity android:name="ui.ui.activities.VideoPlayerActivity" />
        <activity
            android:name="ui.ui.activities.VideoChatActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name="ui.ui.activities.VisibleActivity" />
        <activity android:name="ui.ui.activities.CallingActivity" />
        <activity
            android:name="ui.ui.activities.PrivateChatActivity"
            android:parentActivityName="ui.ui.activities.MainActivity" />
        <activity android:name="ui.ui.activities.ProfileActivity" />
        <activity
            android:name="ui.ui.activities.FindFriendsActivity"
            android:parentActivityName="ui.ui.activities.MainActivity" />
        <activity android:name="ui.ui.activities.PhoneLogInActivity" />
        <activity
            android:name="ui.ui.activities.SettingsActivity"
            android:parentActivityName="ui.ui.activities.MainActivity" />
        <activity android:name="ui.ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name="notifications.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="notifications.NotificationReceiver"
            android:exported="false"
            android:permission="activities.PrivateChatActivity.PRIVATE">
            <intent-filter android:priority="-999">
                <action android:name="activities.PrivateChatActivity.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.implicitintent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>